@import 'common/var.scss';
.pw-input {
    font-size: $--font-size-medium;
    outline: none;
    border: 0;
    color: $--color-primary;
    background-color: transparent;
    &::placeholder {
        color: $--color-text-placeholder;
    }
}