/* Color
-------------------------- */
$--color-black: #000000;
$--color-white: #FFFFFF;
$--color-yellow: #FF942F;
$--color-orange: #FF511A;
$--color-blue: #308CF8;
$--color-green: #46C300;
$--color-dark-grey: #666666;
$--color-mid-grey: #999999;
$--color-grey: #818181;
$--color-light-grey: #E4E5E6;
$--color-text-placeholder: #B5B5B5;
$--color-primary: #272727;

/* Font
-------------------------- */
$--font-size-extra-large: 20px;
$--font-size-large: 18px;
$--font-size-medium: 16px;
$--font-size-extra-base: 15px;
$--font-size-base: 14px;
$--font-size-small: 13px;
$--font-size-extra-small: 12px;

/* Button
-------------------------- */
$--button-background-color-normal: $--color-white;
$--button-background-image-primary: linear-gradient(127deg, $--color-orange 0%, $--color-yellow 100%);
$--button-background-color-disabled: #D7D7D7;
